//Colors
$blue :#3d9aea;
$lightblue :#61c3ef;
$purple : #484de9;
$black : #111823;
$white : #edecec;
$whitesmoke : white;
$dark_gray : #31374b;
$gray : #97a1b0;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$primaryfont : 'Roboto', sans-serif;