@import 'variable';
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
html, body {
    width: 100vw;
    height: 100vh;
    background: white;
    font-family: $primaryfont;
}
.wrapper{
    width: 269px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
.card {
    width: 315px;
    min-width: 315px;
    max-width: 315px;
    height: 644px;
    border-radius: 40px;
    color: $white;
    background-image: linear-gradient(to right, $black , $dark_gray 5%, $black 10%);
    position: relative;
    overflow: hidden;
    img{
        width: 294px;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 45.8%;
        left: 23.5%;
    }
    .card-header{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        svg.back{
            color: $white;
            padding: 8px 0;
            width: 20px;
        }
        .top-right{
            position: relative;
            width: 35px;
            background-image: linear-gradient(to right, $dark_gray, $black);
            border-radius: 100%;
            box-shadow:  2px 5px 15px $dark_gray, 5px 5px 5px $dark_gray inset;
            svg.market{
                color: $gray;
                margin: 7px 0 0 5px;
                opacity: .5;
            }
            span{
                position: absolute;
                right: 15%;
                top: 22%;
                background-color: $blue;
                padding: 4px;
                border-radius: 100%;
                opacity: .9;
            }
        }
    }
    .card-body{
        background-image: linear-gradient(to bottom, $blue, $purple);
        height: 21rem;
        .main{
            margin-top: 10px;
            section{
                margin-bottom: 31px;
                h1{
                    font-size: 13px;
                    font-weight: lighter;
                    letter-spacing: 2px;
                    padding: 0;
                    margin: 0;
                }
                p{
                    font-size: 11px;
                    padding: 0;
                    margin: 12px 0 0 0;
                    font-weight: lighter;
                    color: $white;
                    opacity: .7;
                }
            }
        }
    }
    .card-footer{
        overflow: hidden;
        h1{
            margin: 31px 0 2px 0;
            padding: 0;
            font-size: 30px;
            letter-spacing: 1px;
            color: $white;
            opacity: .8;
        }
        p{
            font-size: 12px;
            font-weight: lighter;
            line-height: 22px;
            letter-spacing: .5px;
            color: $white;
            opacity: .7;
        }
        .row{
            display: flex;
            justify-content: space-between;
            //margin-bottom: 30px;
            .footer_column{
                display: flex;
                align-items: center;
                p{
                    padding: 0;
                    margin: 0;
                }
                .box{
                    padding: 18px;
                    border-radius: 7px;
                    margin-right: 15px;
                    //background-image: linear-gradient(to right,$dark_gray,$black 50%);
                    border: solid rgb(42, 42, 42) .1px;
                    opacity: .5;
                    box-shadow: 15px 15px 20px $dark_gray inset;

                }
                .column-item-title{
                    font-weight: bold;
                    color: $white;
                }
            }
        }
        .row.last-footer{
            margin-top: 20px;
            padding: 14px;
            border-radius: 10px;
            border: solid rgb(42, 42, 42) 1px;
            background-image: linear-gradient(to bottom right,$dark_gray , $black);
            .left{
                font-size: 30px;
                color: $white;
                opacity: .9;
            }
            a{
                text-decoration: none;
            }
            .right a{
                background-image: linear-gradient(to right, $lightblue, $purple);
                border-radius: 7px;
                font-size: 12px;
                font-weight: lighter;
                color: $white;
                overflow: hidden;
                width: 86px;
                height: 35px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span.buy{
                    text-align: center;
                    width: 54px;
                    padding: 15px 0;
                    border-right: 1px solid $dark_gray;
                    box-shadow: .2px 1px 1px $white;
                }
                svg{
                    width: 20px;
                    display: block;
                    height: 100%;
                    margin: 0 5px;
                    transform: rotate(180deg);
                }
            }
        }
    }
}